@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
  overflow-y: auto; 
  min-height: 100vh;
}
body * {
  font-family: "Poppins";
}

header {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 1em;
  margin-left: 1.5em;
  color: #777;
}

.task-list {
  position: relative;
  /* bottom: 10em; */
}
.task {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task h3, .task .icons {
  display: inline-block;
}
.task .icons {
  text-align: right;
}
.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}
.task i.active {
  color: #ff005d;
}

/* filter nav */
.filter {
  width: 640px;
  margin: 10px auto;
  text-align: right;
}
.filter button {
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.8em;
  font-size: 1em;
}

/* new task form */
.new-task-form {
  background: #e7e7e7;
  padding: 20px 0;
}
form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 3fr 1fr; */
  gap: 3px;
}

form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
form textarea {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
.btn {
  background: #ffd859;
  border: 0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
.router-link {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.router-link:hover {
  background-color: #eee;
}

.lists {
  min-height: 50vh;
  display: grid;
  grid-gap: 1em;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Automatically fit columns with minimum width of 250px */
}
.task-list{
    background: #e7e7e7 ;
}


select{
  text-decoration: none;
  border:solid 2px #9d8282;
  border-radius: 4px;
  cursor: pointer;
}